# Ignore unminified CSS code in the tests
tests/assets/css/*
!tests/assets/css/custom.css
!tests/assets/css/epoir.min.css
!tests/assets/css/epoir.css.map

# Ignore unminified Javascript file
tests/assets/js/*
!tests/assets/js/epoir.min.js

node_modules