/* COLORS */
/* Shades of yellow */
$light-yellow: #f6da77;
$yellow: #f4d04c;
$gold: #f3c622;
$orange: #fdb23a;
$dark-orange: #f8aa2d;

/* Shades of white-black */
$light: #f1f1f1;
$dark-light: #e1e1e1;
$darker-light: #d5d5d5;
$darkest-light: #c5c5c5;
$gray: #8e8e8e;
$dark-gray: #777777;
$darker-gray: #686868;
$darkest-gray: #525252;
$dark: #2e2e2e;
$night: #141414;

/* Shades of blue */
$lighter-blue: #71d4f8;
$light-blue: #08b9fa;
$dark-light-blue: #0493e0;
$darker-light-blue: #089dfa;
$darkest-light-blue: #0895fa;
$blue: #0059ff;
$medium-blue: #0E04C8;
$dark-blue: #003ad9;
$darker-blue: #031f8d;
$navy-blue: #050064;
$darkest-blue: #040a54;

/* Shades of green */
$lighter-green: #51fcc0;
$light-green: #1ee39f;
$dark-light-green: #19d291;
$darker-light-green: #0ece8a;
$darkest-light-green: #06c884;
$green: #00b576;
$medium-green: #029156;
$dark-green: #02793b;
$darker-green: #006835;
$darkest-green: #00602d;

/* Shades of red */
$red: #ee0030;
$medium-red: #dd0404;
$dark-red: #ba0000;
$darker-red: #7f0000;

/* Shades of pink-purple */
$pink: #ee007f;
$medium-pink: #d40071;
$dark-pink: #bf0066;
$darker-pink: #af045f;
$purple: #7f00ee;
$medium-purple: #7000d2;
$dark-purple: #6500be;
$darker-purple: #5b03a8;